extends layout

block content
  link(rel='stylesheet', href='/stylesheets/login.css')

  h1 Login
  form(action="/login", method="POST")
    section
      label(for="email") Email:
      input(type="email", name="email", required)
    section
      label(for="password") Password:
      input(type="password", name="password", required)
    button(type="submit") Login
    div.signup-container
      p.dont-have-account Don't have an account?
      a.signup-link(href="/signup") Sign Up
